@import '/src/styles/mixins';

.anchor {
	width: 100%;
	margin-top: 40px;
	padding: 20px;
	display: block;
	border-radius: 8px;
	color: var(--color-primary);
	animation: fade-in 0.12s ease-in 0s 1 normal both;
	-webkit-animation: fade-in 0.2s ease-in 0s 1 normal both;

	@include neumorphism-shadow;

	&:hover {
		.title {
			transition: 0.3s;
			text-decoration: underline;
		}
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.posted {
	color: var(--color-gray-lighten);
}

.title {
	margin-top: 4px;
	font-size: var(--font-size-l);
}
