.container {
	padding: 20px;
	border-radius: 8px;
	box-shadow: 20px 20px 40px #2f2f35, -20px -20px 40px #3f3f47;
	color: var(--color-primary);
	text-align: center;
	text-decoration: none;

	&:hover {
		transition: 0.3s;
		transform: translateY(-5px);
	}
}

.name {
	margin-top: 8px;
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-bold);
	text-align: center;
}
