@import '/src/styles/mixins';

.root {
	padding-top: 60px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 28px;
		left: 0;
		z-index: 50;
		width: 20px;
		height: 20px;
		margin-bottom: 4px;
		border-radius: 50%;
		background: var(--color-primary);
	}

	&::after {
		content: '';
		position: absolute;
		top: 28px;
		left: 9.5px;
		z-index: 40;
		width: 1px;
		height: 100%;
		margin-top: 24px;
		height: calc(100% - 24px);
		background: var(--color-primary);
	}
}
